/* Creating the grid using wrapper to place all elements into grid at once */
.wrapper {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-gap: 0px;
	max-width: 940px;
	margin: auto;
}
/* This is to make sure the grid spans all columns in each browser */
.wrapper > * {
	grid-column: 1 / span 16;
	border: 0px solid #000;
}

/* Grid placements for the products display section */
.item1 {
	grid-column: 1 / span 4; /* Sets the starting column for the element and how many columns it extends */
	grid-row: 5; /* Each div creates its own row in the grid which is why they are set to 5 */
}
.item2 {
	grid-column: 5 / span 4;
	grid-row: 5;
	margin-left: 6px;
}
.item3 {
	grid-column: 9 / span 4;
	grid-row: 5;
	margin-left: 14px;
}
.item4 {
	grid-column: 13 / span 4;
	grid-row: 5;
	margin-left: 16px;
}

/* Grid placement for the news items */
.content {
	grid-column: 1 / span 9;
	grid-row: 7;
}

/* Grid placement for the form */
.competition {
	grid-column: 11 / span 6;
	grid-row: 7;
}

/* GRID CSS FOR PRODUCTS.HTML */
/* Grid placement for showcase images under the nav bar */
.showcase0 {
	grid-column: 3 / span 5;
	grid-row: 3;
	padding-top: 20px;
}
.showcase1{
	grid-column: 1 / span 2;
	grid-row: 3;
	padding-top: 20px;
}
.showcase2 {
	grid-column: 12 / span 4;
	padding-top: 20px;
	font-family: sans-serif;
}
.overall {
	margin-top: -40px;
}
.profile-img {
	grid-column: 3 / span 2;
}
.name {
	grid-column: 5 / span 2;
	margin-top: -50px;
}
.review {
	grid-column: 10 / span 7;
	margin-top: -50px
}
.rating {
	grid-column: 5 / span 2;
}
/* Creating the grid for the footer */
footer {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: 0px;
}

/* Grid placement for the magazine image in the first footer */
.footer1 img {
	grid-column: 1;
	padding-top: 25px;
	padding-bottom: 25px;
}
/* Grid placement for the magazine review and links section */
.fitem1 {
	grid-column: 3 / span 2;
	grid-row: 1;
}
.fitem2 {
	grid-column: 7;
	grid-row: 1;
}
/* Grid placement for the two sets of text within the second footer */
.f2item1 {
	grid-column: 1 / span 4;
}
.f2item2 {
	grid-column: 6 / span 3;
}
