html {
	font-family: 'Iceberg';
	background-color: #f2f2f2;
}
.wrapper {
	background-color: #f2f2f2;
	margin: auto;
}
/* all styling for logo */
h1.robot{
	font-family: 'Damion';
	font-size: 62px;
	color: #C5110B;
	letter-spacing: 3px;
	margin-top: 21px;
}
span.juice {
	font-family: 'Damion';
	font-size: 62px;
	color: #000000;
	letter-spacing: 3px;
	margin-top: 21px;
}
#logo p {
	font-family: 'Ariel';
	font-size: 13px;
	color: #333333 ;
	position: absolute;
	margin-top: -60px;
	margin-left: 170px;
}
/* all styling for mainnav */
ul.mainnav {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
  padding: 0;
	font-family: sans-serif;
	font-size: 13px;
}
ul.mainnav li a:hover:not(.active) { /* applies bg color when nav element which isn't active is hovered over */
	background-color: #d6d6d6;
}
nav * {
	display: inline;
}
nav li a {
	color: gray;
	text-decoration: none;
	font-weight: bold;
	padding: 26px 52px;
}
li {

}
li:last-child {
	border-right: none;
}
.active {
	background-color: #C5110B;
	color: white;
	font-weight: normal;
}

.slogan {
	text-align: center;
	font-size: 35px;
	color: #7a7a7a;
}
.products p {
	font-family: sans-serif;
	font-size: 12px;
}

.content p {
	font-size: 12px;
	font-family: sans-serif;
}
footer {
	font-family: sans-serif;
	max-width: 100% !important;
}
.footer1 {
	background-color: white;
	border-top: 1px solid black;
	color: #C5110B;
	width: 100%;
}
.footer2 {
	background-color: #C5110B;
	font-size: 12px;
	padding-bottom: 100px;
}
